name: Manually publish to NPM

on: workflow_dispatch

jobs:
  publish-to-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build-all --if-present    
      - name: Publish NPM Module
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_DEPLOY_KEY }}